body{
    font-family: 'Charm',cursive;
}

.itleIntro{
    text-align: center;
}

#title {
    text-align: center;
    color: brown;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
}

#introductionText {
    font-size: 25px;
    text-align: center;
}

.ids{
    font-size: 25px;
}

.quoteItself{
    font-size: 25px;
    color: rgb(35, 4, 209);
}

#author{
    font-size: 23px;
    color: darkmagenta;
    padding-left: 20px;
}

.toggleButton{
    font-size: 22px;
    margin-left: 20px;
}