body{
    font-family: 'Charm',cursive;
}

.itleIntro{
    text-align: center;
}

#title {
    text-align: center;
    color: brown;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
    padding-top: 50px;
}

#introductionText {
    font-size: 25px;
    text-align: center;
}

.ids{
    font-size: 25px;
}

.quoteItself{
    font-size: 25px;
    color: rgb(35, 4, 209);
    padding: 20px;
}

#author{
    font-size: 23px;
    color: darkmagenta;
    padding-left: 20px;
}

.toggleButton{
    font-size: 22px;
    margin-left: 20px;
}

.votingButtons{
    padding-left: 10px;
}

.authorButtons {
    display: flex;
}

.downs, .ups{
    margin: 5px;
}

.quotesSection{
    padding-top: 20px;
}