<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Parent Component Html files</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>

        <div class="shadow-lg p-3 mb-5 rounded">

    <div class="container">

        <div class="titleIntro">

            <h1 id="title">{{appTitle}} </h1>

            <p id="introductionText"> {{introductionText}} </p>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="quotes" *ngFor='let quote of quotesArray; let i = index'>

                    <div class="quotesSection" >

                        <p *ngIf='quote.upvote !== getMostLikes() || quote.upvote === 0'> <span class="ids"> {{quote.id}}. </span> <span class="quoteItself">{{quote.quotes}}</span> </p>

                        <p *ngIf='quote.upvote === getMostLikes() && quote.upvote > 0'> <span class="ids"> {{quote.id}}. </span> <span
                                class="quoteItself" appHighlighterDirective>{{quote.quotes}}</span> </p>

                    </div>

                    <app-qoutes-details *ngIf='quote.showDetails' [quote]='quote' (isComplete)='spliceQoutesConstructor($event, i)'></app-qoutes-details>

                    <button class="btn btn-outline-primary toggleButton" (click)='toggleDetails(i)'> Toggle Details</button>

                </div>

            </div>

            <div class="col-md-6">

                <app-qoutes-form (addQuote) = "addNewQuotesConstructor($event)" ></app-qoutes-form>

            </div>

        </div>

    </div>

        </div>

</body>

</html>