#userName{
    color: darkred;
    font-size: 24px;
}

#details{
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding-left: 20px;
}

.deleteButton{
    font-size: 22px;
    margin-left: 20px;
}

#date{
    color: rgb(0, 37, 139);
    text-decoration: underline double black;
}

#author {
  font-size: 23px;
  color: rgb(0, 37, 139);
  padding-left: 20px;
}

.toggleButton {
  font-size: 22px;
  margin-left: 20px;
}

.votingButtons {
  padding-left: 10px;
}

.authorButtons {
  display: flex;
}

.downs,
.ups {
  margin: 5px;
  font-size: 24px;
}
